{{define "page:title"}}Blog index{{end}}

{{define "page:meta"}}
<meta name="page" content="blog/index">
{{end}}

{{define "page:main"}}
<h1>Blog index</h1>

{{range .BlogPosts}}
<article>
<h2>{{.Frontmatter.Title}}</h2>

<p>{{.Frontmatter.Description}}</p>
<p><strong>Published:</strong> {{.Frontmatter.Date.Format "January 2, 2006"}}</p>
<p><strong>Tags:</strong> {{range .Frontmatter.Tags}}<span class="tag">{{.}}</span> {{end}}</p>

<footer>
    <a href="/blog/{{.Frontmatter.Slug}}">Read more</a>
</footer>
<hr>
{{end}}
{{end}}